---
layout: archive
---
<p><strong>Hey There! 👋 </strong> My name is Andreas and this is my website. Feel free to stay a while. I recommend checking 
  about the about tab up 👆 there to learn a little about me first. But if you don't have the time then feel free to take a 
  look at my blog and resume, or if you want to dive into what I've been working on recently take a peak at the NMIX or HCI tabs. Hope you enjoy it!</p>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
