---
layout: archive
---
<h2>Hey There! 👋 </h2>
  <br>
  <br>  
<p>My name is Andreas and this is my website.
  <br>
  Feel free to stay a while. 
  <br>
  <br>
  I recommend checking out the <em>About</em> tab somwhere up there 👆 to learn a little about me first.
  <br>
  <br>
  But if you don't have the time then feel free to take a look at my blog (recent posts below) and resume. 
  <br>
  Or if you want to dive into what I've been working on recently take a peak at the <em>NMIX</em> or <em>HCI</em> tabs.
  <br>
  <br>
  Hope you enjoy it!</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
